<form action="/store/favourite-list" method="POST">
  <input type="hidden" value="<%= homeData._id %>" name="homeId">
  <button class="bg-green-500 p-2 hover:bg-red-600" type="submit">Add to Favourite</button>
</form>